/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *after{
	font-family: arial, helvetica, sans-serif;
	box-sizing: border-box;
}

h3{
	font-size: 20px;
}

h2	{
	font-size: 30px;}

body *, body *::before, body *::after {
	box-sizing: border-box;
	font-family: arial, helvetica, sans-serif;
}   

.the-logo{
	background: url(images/logo.png) no-repeat center center;
	width: 174px;
	display: block;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.footer .the-logo{
	height: 45px;
}

.title {margin-bottom: 20px; letter-spacing: 2px;}

.title	{
	display: inline-block;
	color: #00cc99;
}

.title span{
	font-size: 16px;
	color: #9b9b9b;
}



.homepage{
	background: url(images/bg_index.png) bottom left no-repeat;
	background-size: cover;
}

.coursepage{
	background: url(images/bg_course.png) bottom left no-repeat;
	background-size: cover;
}

.nav{
	display: flex;
	background: rgba(0, 0, 0, 0.5);
	justify-content: space-between;
	padding: 0 20px;
}

.nav img{
	height: 100%;
	margin: auto 0;
}

.nav ul{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.nav ul li a{
	text-decoration: none;
	color: white;
	display: block;
	font-size: 14px;
	padding: 20px 20px 24px;

}

.nav ul li a:hover{
	color: #00cc99;
}

.nav ul li .active{
	border-bottom: 4px solid #00cc99;
	color: #00cc99;
	padding: 20px;
}

.header h1{
	font-size: 36px;
	color: #00cc99;
	line-height: 1.5;
	letter-spacing: 2px;
	padding-bottom: 40px;
}

.header span{
	color: #ffffff;
}

.headline {
	margin: auto 0;
	padding: 100px 5% 140px;
}

.cta {
	background: #00cc99;
	color: white;
	font-size: 16px;
	padding: 16px 30px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	letter-spacing: 2px;
}

.cta:hover {
	background: #fff;
	color: #00cc99;
}

.course, .compare, .info, .footer {
	padding: 40px 5%;
}

.course-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.course-header a{
	text-decoration: none;
	color: #00cc99;
	border: 2px solid #00cc99;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
}

.course-header a:hover{
	color: white;
	background: #00cc99;
}

.course ul{
	display: flex;
	justify-content: space-evenly;
}

.course ul li{
	box-shadow: 0 2px 5px #9b9b9b;
	padding: 20px;
}

.course ul li:nth-child(2){
	margin: 0 20px;
}

.course ul li img{
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
}

.course ul li h3{
	text-align: center;
	padding-bottom: 10px;
	color: #4a4a4a;
}

.course ul li p{
	color: #9b9b9b;
	font-size: 14px;
}

.compare table {
	width: 100%;
	font-size: 14px;
	text-align: center;
}

.compare table tr td{
	padding: 14px 0;
}

.compare table tr{
	border-bottom: 1px solid #ececec;
}

.compare table tr:first-child{
	background: #ebebeb;

}

.compare table tr:first-child td{
	color: #000!important;

}

.compare table tr td:nth-child(2), 
.compare table tr td:nth-child(3), 
.compare table tr:nth-child(3) td:nth-child(4){
	color: #00cc99;
}

.compare table tr:nth-child(3) td:nth-child(2), 
.compare table tr:nth-child(3) td:nth-child(3), 
.compare table tr:nth-child(4) td:nth-child(3), 
.compare table tr:nth-child(7) td:nth-child(3){
	color: #000!important;
}

.info{
	display: flex;
	background: #ebebeb;
	padding-top: 100px;
}

.info h2{
	line-height: 1.5;
	width: 50%;
}

.info form {
	width: 50%;

}

.info form input[type="text"], .info form input[type="email"], .info form textarea{
	display: block;
	font-size: 20px;
	border: none;
	margin-bottom: 20px;
	padding: 10px 20px;
	width: 100%;
	border-radius: 10px;
}

.info form input[type="submit"]{
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	background: #00cc99;
	color: white;
	font-size: 20px;
	float: right;
}

.info form input[type="submit"]:hover{
	background: white;
	color: #00cc9a;
	cursor: pointer;
}

.footer {
	display: flex;
	background: #323228;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.footer div:first-child{
	text-align: right;
	color: #868686;
	font-size: 16px;
}

.footer div:nth-child(2) img{
	padding-left: 10px;
}

.footer div:nth-child(2) img:hover{
	cursor: pointer;
}

.coursepage .headline h1{
	color: #fff!important;
	line-height: 1;
}

.coursepage .headline span{
	color: #00cc99!important;
	font-size: 20px;
}

.course-container{
	padding: 0 20%;
}

.profile {
	display: flex;
	justify-content: space-between;
	line-height: 1.5;
	padding: 40px 0;
}

.profile h2{
	margin-top: 60px;
}

.profile span{
	font-size: 28px;}


.profile ul{
	list-style: disc;
	color: #696961;
	font-size: 14px;
	margin-top: 60px;
}

.green {color: #00cc99;}
.white {color: #fff;}
.grey {color: #9b9b9b}
.black {color: #69695e;}

.course-feature{
	padding-bottom: 40px;
}

.course-feature ol{
	list-style: lower-norwegian;
	margin-left: 20px;
}

.course-summary{
	padding-bottom: 40px;
}

.course-summary ul li{
	padding: 16px 20px;
}

.course-summary ul li:nth-child(odd){
	background: #ebebeb;
	color: #69695e;
}

.course-summary ul li:nth-child(even){
	color: #9b9b9b;
}

.register {
	padding: 100px 0;
	background: #ebebeb;
	display: flex;
}

.register h2{
	padding: 0 20%;
	line-height: 1.5;
}

.register .cta
{
	align-self: flex-end;
}

.faq{
	background: url(images/bg_QA.png) center center no-repeat;
	background-size: cover;
	text-align: center;
}

.faq h2{
	padding: 100px 0 20px;
}

.search{
	background: #fff url(images/search.png) no-repeat left;
  background-position: 95%;
  width: 40%;
  padding: 10px 20px;
  margin: 40px 0 100px;
  border: none;
  border-radius: 5px;
}

.faq-content{
	padding: 40px 10%;
}

.faq-content h2{
	margin-top: 20px;
}

.qna {
	line-height: 1.3;
}

.qna p{
	font-size: 16px;
	color: #69695e;
}

.qna small{
	font-size: 14px;
	color: #9b9b9b;
}

.qna li{
	margin-bottom: 14px;
}

.inner-list li{
	line-height: 1.1;
	margin: 0;
}

.inner-list {
	margin-bottom: 10px;
	margin-left: 30px;
}

.numbering{
	list-style: lower-norwegian;

}




